#box{
    background: black;
}
#box1{
    background: white;
    border: red 5px solid;
    width: 600px;
    height: 450px;
    display: flex;
    justify-content: center;
}
#tex1{
    justify-content: center;
}
