body{
    background: black;
}
#box1{
    display: flex;
    background-color: gainsboro;
    width:100%;
    height:600px;
    margin-top: 10px;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box2{
align-items: center;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: relative;
top: -80px;
}
h1{
    font-family:'Courier New', Courier, monospace;
    font-size:100px;
    color: pink;
    align-content: center;
    position: relative;
    top: -100px;
}
#tarea{
    width: 500px;
    height: 30px;
    align-content: center;
    border-color: transparent;
    margin-bottom: 10px;
    margin-left: 29px;
}
#listas{
    background: whitesmoke;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    width:500px;
    height: 30px;
    align-content: center;
    list-style: 30px; 
    margin-top: 0px; 
    margin-bottom: 2px;
}
#bCerrar{
    margin-left: 200px;
}

