body{
    background: black;
}
#box1{
    display: flex;
    background-color: gainsboro;
    width:722px;
    height:600px;
    margin-left: 360px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-family:'Courier New', Courier, monospace;
    font-size:160px;
    color: pink;
    align-content: center;
}
#tarea{
    width: 500px;
    height: 50px;
    align-content: center;
    border-color: transparent;
   
}
#listas{
    background: whitesmoke;
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
    width: 500px;
    align-content: center;
    margin-right:85px;
    list-style: 30px;
}
#bCerrar{
    list-style-type: circle;
}
/* #tex1{
    margin-right: 5px;
    margin-left: 100px;
} */

/* #guardar{
    display: flex;
    align-items: stretch;
} */
/* #tarea {
    width:860px;
    height:40px;
} */

/* .renglones{
    display: flex;
    background-color: hsl(0, 2%, 65%);
    width:600px;
    height:200px;  
} */

